/* OVERRIDES */

/* Main Color override */
.banner:before {
  background: rgba(32, 114, 190, 0.9) !important;
}

.preloader,
nav.navbar.bootsnav.sticky-header,
.jumptotop a  {
  background: rgba(32, 114, 190) !important; /* with no background opacity. */
}

.header-content h2 span,
i {
  color: rgba(32, 114, 190) !important;
}

.icon-box {
  border: 1px solid rgba(32, 114, 190) !important;
}

.feature-single:hover .icon-box {
  background: #EEEEEE;
}

.jumptotop a i {
  color: #FFFFFF !important;
}

/* end color overrides */

nav.navbar.bootsnav ul.nav > li > a:after {
  content: '' !important;
}

header .navbar-brand {
  color: #FFF !important;
  font-size: 28px;
  font-weight: 300;
  position: relative;
  top: 10px;
}

header .navbar {
  height: 88px !important;
}

header .navbar.sticky-header {
  height: inherit !important;
}

.footer-info .footer-logo {
  color: #FFFFFF;
  font-weight: 300;
}

@media (max-width: 992px) {
  header .navbar,
  header .navbar.sticky-header {
    height: 68px !important;
  }
  #navbar-menu {
    margin-top: 20px;
  }
}
